
.bg-free {
    background-image: url(../img/pricing-free.jpg);
}

.bg-standard {
    background-image: url(../img/pricing-standard.jpg);
}

.bg-premium {
    background-image: url(../img/pricing-premium.jpg);
}

.pricing {
    padding: 0 120px 0 120px;
}

.pricing-h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px auto 45px auto;
}

.pricing-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 368px);
    justify-content: center;
    grid-gap: 47px;
    width: 100%;
    flex-wrap: wrap;

    &__footer {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        margin: 43px 0 0 0;
    }

}
.pricing-item {
    max-width: 368px;
    max-height: 615px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 0;
    border-radius: 20px;

    &__h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin: 24px 0 0 0;
    text-transform: uppercase;
    }

    &__footer {
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        margin: 64px auto 64px auto;
        width: 280px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 318px;
        height: 66px;
        border: 1px solid white;
        border-radius: 5px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &:hover {
            cursor: pointer;
        }
        
    }
}

.pricing-value {
    display: flex;
    margin: 200px auto 40px auto;
    justify-content: center;

    &__count {
        align-self: center;
        font-size: 64px;
        font-weight: 400;
        line-height: 64px;
        margin: 0 16px 0 0;
    }

    &__currency {
        align-self: flex-start;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
    }
}





@media (max-width: 1130px) {
    .pricing {
        padding: 0 120px 90px 120px;
    }
    
}

@media (max-width: 820px) {
    .pricing {
        padding: 0 60px 90px 60px;
    }

    .pricing-item {
        &__h3 {
            font-size: 16px;
            line-height: 24px;
            }
    }
    .pricing-h2 {
        font-size: 18px;
        line-height: 27px;
    }
}

@media (max-width: 640px) {
    .pricing {
        padding: 0 20px 90px 20px;
    }
}

@media (max-width: 380px) {
    .pricing-items {
        width: 300px;
        height: 500px;
        
        // &__button {
        //     width: 280px;
        // }
    }
}

    .pricing-footer {
        margin: 20px auto 0 auto;
        width: 280px;
    }

//     .pricing-value {
//         margin: 150px auto 30px auto;
//     }

// }


